<div class="row my-5">
  <div class="col-md-12 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Event Clients</h3>
      </div>
      <div class="card-body">

        <table class="table table-stripped" *ngIf="!isLoading">
          <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>ID Number</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.surname}}</td>
            <td>{{client.email}}</td>
            <td>{{client.mobile}}</td>
            <td>{{client.gender}}</td>
            <td>{{client.id_number}}</td>
            <td>{{client.address}}</td>
            <td>
              <a><span class="badge badge-success">View</span></a> |
              <a><span class="badge badge-info">Edit</span></a> |
              <a><span class="badge badge-danger">Delete</span></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
